{% extends 'base.html.twig' %}

{% block title 'Tous nos Clients' %}



{% block body %}
    <div class="jubotron text-center">
        <h1>Tous nos Clients</h1>
        <p>lorum</p>
    </div>
{% endblock %}