{% extends 'base.html.twig' %}

{% block title 'Editer Client' %}



{% block body %}
    <div class="container mt-4">
        <h2>Editer le Client</h2>
        {{ include('admin/client/_form.html.twig') }}
    </div>
{% endblock %}