{% extends 'base.html.twig' %}

{% block title 'Nouveau Client' %}



{% block body %}
    <div class="container mt-4">
        <h2>Créer un nouveau Client</h2>
        {{ include('admin/client/_form.html.twig') }}
    </div>
{% endblock %}